<%= stylesheet_link_tag 'client', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="nothing_selected" id="nothing_selected">
  Выберите или создайте тикет, чтобы начать работать
</div>
<div id="client" class="hidden">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: 'token' %>
  <div id="active_ticket">
    <div id="ticket_info"></div>
    <div id="product_info"></div>
  </div>
  <div id="client_info"></div>
  <div id="another_tickets"></div>
</div>
<div class="dm-overlay" id="win5000000">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2" id="block_attach">
        <a href="#close" class="close"></a>
        <div class="info" id="block_files">
          <div id="content">
            <div id="files"></div>
          <br>
          <form method="post" action="/add_files_to_client" enctype="multipart/form-data">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <div class="example-1">
              <div class="form-group">
                <label class="label">
                  <span class="title" id="file">Выберите файл</span>
                  <input type="file"name="files" id="avatar" onchange="alert_about_choise(this)">
                </label>
              </div>
            </div>
            <input type="submit" value="Загрузить" id="but_avatar">
            <input type="hidden" name="id" id="input_for_id">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dm-overlay" id="win5000001">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2" id="block_attach">
        <a href="#close" class="close"></a>
        <div class="info" id="block_files">
          <span id="message">Файл успешно загружен</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dm-overlay" id="win91">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2">
        <a href="#close" class="close"></a>
        <div class="info">

        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/client.js"></script>
