<div id="client">
  jgkuygyiugughiuhgiu
</div>
<style>
  #client {
      height: 93%;
      max-height: 93%;
      margin-left: 15px;
      width: 500px;
      max-width: 500px;
      border: 1px dashed grey;
      position: absolute;
      top: 60px;
      left: 450px;
  }
</style>
