<div id="menu">
<a href="#win5">новый тикет</a>
</div>
<div id="tickets">

<div class="ticket">
  <span>rwtreatesrysrydy</span>
  заказ такой то
  статус такой
  категория такая
  менеджер такой
  дата такая
</div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>

  <div class="ticket">
    <span>rwtreatesrysrydy</span>
  </div>
</div>

<div class="dm-overlay" id="win5">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2">
        <a href="#close" class="close"></a>
        <div class="info">
          <form>
            <input placeholder="Тема">
            <input placeholder="описание">
            <input  type="checkbox">
            клиент
            <label>прикрепить заказ</label>
            про заказ
            тип
            статус
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
  .ticket {
      border: 1px solid grey;
      width: 330px;
      height: 170px;
      margin-bottom: 15px;
      margin-top: 10px;
      background-color: rgb(253, 252, 252);
      border-radius: 5px;
      cursor: pointer;
  }

  .ticket:hover {
      background-color: rgba(150, 149, 149, 0.47);
  }

  #tickets {
      height: 89.5%;
      max-height: 89.5%;
      width: 400px;
      max-width: 400px;
      overflow: auto;
      text-align: center;
      background-image: url("https://psv4.userapi.com/c536236/u131991696/docs/d5/df67de7472c7/back.png?extra=cqy2TTF-5OEnRileVfdLQRCfadBXzOLYYLaTDABMpdMG8evJxa0gAZwefaUwhdA3jf3vtMOKB8R8xPbjpSz_ULxcQg8Xd2fxnmTGUTt7Agv9R7wZ7XEIJYm8A4SOpuLQCdajNFvR9HyBOEcsOyaI6jFO_DU");
      display: inline-block;
      border-right: 1px solid grey;
      padding-left: 1.7%;
  }

  #menu {
      height: 5%;
      max-height: 5%;
      width: 400px;
      max-width: 400px;
      background-color: grey;
  }

  .dm-modal2 {
      display: inline-block;
      padding: 20px;
      max-width: 50em;
      background: rgb(253, 252, 252);
      color: black;
      border: 10px double black;
      text-align: left;
  }
</style>
