<p><h3>Приветствуем, <%= @user.name %>!</h3></p>
<p>Для окончании регистрации, пожалуйста, перейдите по ссылке ниже.</p>

<p>
  <a href="<%= confirm_email_registration_url(@user.confirm_token) %>">
    Подтвердить регистрацию YouCrm
  </a>
</p>
<p> Благодарим Вас, что выбрали наш сервис YouCRM ❤</p>
