.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__door {
  line-height: normal!important;
  overflow: hidden;
  border-right-width: 1px!important;
  z-index: 1001;
}

a, body {
  color: #1c1c1c!important;
}

a {
  cursor: pointer!important;
  text-decoration: none!important;
}

.nav__menu {
  position: relative;
  background: url(https://park.mail.ru/static/core/pub/park/img/hrb.png) repeat-x;
  text-transform: uppercase;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0!important;
  padding: 0!important;
}

.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.topmenu > li:last-child {
  margin-right: 0;
}

.a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header {
  background: #e8e8e8;
}

body {
  margin: 0px;
}

.submenu li a {
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: white!important;
}

.four .submenu {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: grey;
}

.four ul li:hover .submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.four ul{
  color: white;
}

.ttt {
  fill: red;
}

.aaa {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  overflow: hidden;
}

.www {
  width: 50px;
}

.qqq {
  display: flex;
}

.bell {
  display: block;
}

.bir {
  position: absolute;
  top: 10px;
  right: 6px;
}

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

body {
  background: rgba(232, 232, 232, 0.4) !important;
}

body {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 17px!important;
  font-weight: 300!important;
  line-height: 1.7!important;
}

.mudsarulopas {
  width: 349px;
  position: fixed;
  padding: 0;
  top: 16%;
  margin-top: -99.7px;
  right: 0;
  background: #80808078;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.34s;
  -moz-transition: 0.34s;
  transition: 0.34s;
  z-index: 9998;
  height: 2000px;
}

.subject-task {
  border-bottom: 1px solid black;
}

.body-task {
  overflow: auto;
  border: 1px solid black;
  width: 250px;
  max-height: 90px;
  max-width: 250px;
  height: 90px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  padding: 7px;
}

.button-task {
  border: none;
  background: inherit;
  opacity: 60%;
  position: relative;
  left: 110px;
  bottom: 210px;
}

.button-task:hover {
  opacity: 100%;
}

.tag-task {
  border-radius: 20px;
  background: #8c8b8b3b;
  box-shadow: 0 0 7px;
  border: 1px solid black;
  width: 150px;
  height: 35px;
  max-height: 35px;
  overflow-x: auto;
  text-align: center;
  margin-left: 25%;
  margin-top: 20px;
}

.one-task {
  color: black;
  border-radius: 20px;
  max-height: 230px;
  height: 230px;
  background: white;
  box-shadow: 0 0 7px;
  text-align: center;
  padding: 30px 15px;
  font-size: 20px;
}

#for_scrol {
  overflow: scroll;
}

.mudsarulopas:hover {background: #9f9999;}
.mudsarulopas > section {
  padding: 15px;
  color: #f5f5f5;
}

.asruk-tkilasun {
  position: absolute;
  right: 99.8%;
  top: 20%;
  margin-top: -24px;
  left: -24px;
  padding: 1em 0;
  background: inherit;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  color: #f7f3f1;
  font-size: 1.4em;
  line-height: 1;
  text-align: center;
}

.asruk-tkilasun:after {
  font: normal 18px/1 'FontAwesome';
  text-decoration: inherit;
}

.asruk-tkilasun:hover{
  cursor: pointer;
  color:#fff;
}

[id='asruk-tkilasun'] {
  position: absolute;
  right:0;
  display:none;
}

[id='asruk-tkilasun']:checked ~ .mudsarulopas {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

[id='asruk-tkilasun']:checked ~ .mudsarulopas > .asruk-tkilasun:after {
  font: normal 18px/1 'FontAwesome';
}

body {
  -webkit-animation: bugfix infinite 1s;
  animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  to { padding: 0; }
}

@media (max-width: 350px) {
  .mudsarulopas {
    width: 100%;
  }
}

.one_task {
  background: white;
  color: black;
  border-radius: 20px;
  margin-top: 20px;
}

.sizet {
  width: 600px !important;
  max-width: 600px !important;
}

.cent {
  margin-left: 650px;
  margin-top: 100px;
}

.color {
  background-color: #f4f6f8;
}

.color2 {
  background-color: white;
}

#exampleModalLabel {
  font-size: 150%;
  margin-top: 15px;
}

.active {
  fill: green;
}

.busy {
  fill: yellow;
}
.inactive {
  fill: red;
}
.hidden {
  display: none;
}

/* слой затемнения */

.dm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* активируем модальное окно */

.dm-overlay:target {
  display: block;
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
}

/* блочная таблица */

.dm-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* ячейка блочной таблицы */

.dm-cell {
  display: table-cell;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
}

/* модальный блок */

.dm-modal {
  display: inline-block;
  padding: 20px;
  max-width: 50em;
  background-image: url('../../assets/back.png');
  color: #888585;
  border: 10px double #888585;
  text-align: left;
}

#contacts {
  margin-left: 70px;
  line-height: 38px;
}

.icons {
  width: 25px !important;
  height: 25px !important;
}

.info {
  display: flex;
}

/* изображения в модальном окне */

.dm-modal img {
  width: 100%;
  height: auto;
}

/* миниатюры изображений */

.pl-left {
  width: 25%;
  height: auto;
}

/* миниатюра слева */

.pl-left {
  float: left;
  margin: 5px 15px 5px 0;
}

/* рисуем кнопарь закрытия */

.close {
  z-index: 9999;
  float: right;
  width: 30px;
  height: 30px;
  color: #cfd8dc !important;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  cursor: pointer;
}

.close:after {
  display: block;
  border: 2px solid #cfd8dc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: 'X';
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

/* кнопка закрытия при наведении */

.close:hover:after {
  border-color: #a69b9b;
  color: #a69b9b;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* движуха при появлении блоков с содержанием */

@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

#task-new {
  margin-left: 200px;
}

#task-subject {
  border-bottom: 1px solid black;
}

#task-body {
  overflow: auto;
  border: 1px solid black;
  width: 250px;
  max-height: 90px;
  max-width: 250px;
  height: 90px;
  margin-top: 15px;
  text-align: left;
  padding: 7px;
  margin-left: 30%;
}

#task-tag {
  border-radius: 20px;
  border: 1px solid black;
  width: 150px;
  height: 35px;
  max-height: 35px;
  overflow-x: auto;
  text-align: center;
  margin-left: 40%;
  margin-top: 20px;
}

#tuda {
  text-align: center;
}

#full_name {
  margin-left: 10px;
}

#title {
  margin-left: 20px;
  text-transform: uppercase;
}

#state {
  margin-right: 30px;
  text-transform: uppercase;
}

#states {
  position: absolute !important;
  margin-right: 30px;
}

#my_name {
  margin: 0px 10px;
}

#my_icon {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

#my_bot {
  border-left: 1px solid grey;
}

#search {
  border: none;
  background: inherit;
  border-bottom: 1px solid gray;
  width: 300px;
  outline:none;
}

#lupa {
  background: inherit;
}

#for_scale {
  transform: scale(1.5, 1.7);
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 800px;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    text-align: left;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}
