<fieldset class="inputs">
  <legend>
    <span>Краткое обращение</span>
  </legend>
  <h2>Мы очень рады что вы пользуетесь нашей системой, надеемся она помогает организовать
  работу вашей фиры <%= name %> наилучшим образом</h2>
  <h3>Мы рады сообщить, что нашим сервисом пользуется уже <%= count %> компаний!</h3>
  <h3>По всем вопросам и предложениям можете писать на почту нашей службы поддержки <b>you_crm_support@gmail.com</b> ,
    постараемся моментально решить проблему.</h3>
  <h3>Успехов и достижений во всем!</h3>
</fieldset>
