<!DOCTYPE html>
<html>
  <head>
    <title>YouCRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/icons.svg" >
  </head>

  <body>
    <%= yield %>
  </body>
</html>
